:root{
  --bottom-button: 2rem;
  --c-main: #ff7f50;
  --c-pink: #EF9A9A;
  --c-llpink:#fcf1ed;
  --c-spink:#FC72B7;
  --c-sgreen:#4eb753;
  --c-green:#66BB6A;
  --c-lgreen:#A5D6A7;
  --c-dgreen: #00897B;
  --c-ored:#FF5252;
  --c-bred:#FFA892;
  --c-lforange:#fdeae3;
  --c-oblue:#1E90FF;
  --c-lblue:#64B5F6;
  --c-sblue:#2196F3;
  --c-oorange:#FF7F50;
  --c-seorange:#FFA281;
  --c-forange:#ffd1c1;
  --c-gainboro:#dcdcdc;
  --c-lgray:#6b6b6b;
  --c-gray:#e7e7e7;
  --c-gold:#ffd700;
  --c-lyellow:#FFE68D;
  --c-dgray:#4e4e4e;
  --c-dtheme:#141414;
}
/* colores */
.c-main{background-color: var(--c-main)!important;}
.c-pink{background-color: var(--c-pink)!important;}
.c-spink{background-color: var(--c-spink)!important;}
.c-llpink{background-color: var(--c-llpink)!important;}
.c-green{background-color: var(--c-green)!important;}
.c-sgreen{background-color: var(--c-sgreen)!important;}
.c-dgreen{background-color: var(--c-dgreen)!important;}
.c-ored{background-color: var(--c-ored)!important;}
.c-oblue{background-color: var(--c-oblue)!important;}
.c-lblue{background-color: var(--c-lblue)!important;}
.c-sblue{background-color: var(--c-sblue)!important;}
.c-oorange{background-color: var(--c-oorange)!important;}
.c-gainboro{background-color: var(--c-gainboro)!important;}
.c-gold{background-color: var(--c-gold)!important;}
.c-dgray{background-color: var(--c-dgray)!important;}
.c-forange{background-color: var(--c-forange)!important;} 
.c-lyellow{background-color: var(--c-lyellow)!important;}
.c-bred{background-color: var(--c-bred)!important;}
.c-seorange{background-color: var(--c-seorange)!important;}
.c-gray{background-color: var(--c-gray)!important;}
.c-white{background-color: white!important;}
.c-black{background-color: black!important;}
.c-lgreen{background-color: var(--c-lgreen)!important;}
.c-dtheme{background-color: var(--c-dtheme)!important;}
.c-lforange{background-color: var(--c-lforange)!important;}
.c-trans{background-color: transparent!important;}

body, div, ul{
  margin: 0;
  padding: 0;
}
html{height: -webkit-fill-available!important;}
body{
  overscroll-behavior-y: contain; /* prevent scroll slide-down android */
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: -webkit-fill-available!important;
}

button{
  border: none;
}
section{
  margin: 1em;
}
h1{
  font-size: 2.5em;
  color: var(--c-dgray);
}
.fs-08{
  font-size: 0.8rem;
}
.fwb{font-weight: bold;}
label{
  color: var(--c-dgray);
}
h1::first-letter{
  color:var(--c-main);
}
html{
  height: 100vh;
  scroll-behavior: smooth;
}
.btn{
  border-radius: 0.4em;
  font-weight: bold;
  color:whitesmoke;
  text-align: center;
}
.btn svg{
  width: 1.2rem!important;
  height: 1.2rem!important;
  vertical-align: middle;
}

/*Hover only*/
.acc, .cacc{
  position: relative;
  text-align: start;
  cursor: pointer;
}
.acc span, .cacc span{
  position: relative;
  margin-left: .4em;
  top: 0;
  right: 0;
  transition: transform .3s;
}
.acc-body, .cacc-body, .accs-body{
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows .5s;
}
.accs-body > *{
  overflow: hidden;
}
.acc-body > div,.cacc-body > div{
  overflow: hidden;
}
.acc:hover .acc-body, .acc:hover .accs-body, .cacc-active{
  grid-template-rows: 1fr;
}
.acc:hover span{
  transform: rotate(180deg);
}

.sticky-header{
  position: relative;
  z-index: 0;
}
.menu-header{
  margin: 0;
  background-color: var(--c-main);
  padding: 0.5rem 1rem;
  color: whitesmoke;
  position: fixed;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
}
.sticky-header thead{
  position: sticky;
  top:0;
  opacity: none;
  z-index: -1;
}
.sticky-header tbody{
  position: relative;
  z-index: -2;
}
.scroll-all{
  overflow: scroll;
}
.info-counter{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  /*row-gap: 1rem;
  column-gap: 3rem;*/
  color: var(--c-dgray);
}
.info-counter p{
  margin: 0;
}
.update-bar{
  position: fixed;
  height: 5rem;
  width: 100%;
  background: var(--c-sgreen);
  z-index: 4; color: #ffffff;
  overflow-wrap: break-word;
  }
.vh-62{height: 62vh;}
.vh-58{height: 58vh;}
.vh-50{height: 50vh;}
.vh-36{height: 36vh;}
.vw-40{width: 40vw;}
    
.headcol {
  position: sticky;
  width: 5em;
  left: 0;
  top: auto;
  border-top-width: 1px;
  margin-top: -1px;
}
.check-hc{
  background-color: var(--c-llpink);
}
.nocheck-hc{
  background-color: #ffffff;
}
.acciones-btn{padding: 0.25rem 0.5em;}
/*.headcol > b {background-color: var(--c-llpink); padding: 0 0.5rem 0 0.5rem;}*/
.fixed{position: fixed;}
.text-center{text-align: center;}
.d-flex{display: flex!important;}
.mx-auto{margin: 0 auto;}
.d-block{display: block!important;}
.d-none{display: none!important;}
.gap-1{gap:1rem;}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-nowrap{
  flex-wrap: nowrap;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-end{
  justify-content: end;
}
.justify-content-evenly{
  justify-content: space-evenly;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-start{
  justify-content: end;
}
.align-items-center{
  align-items: center;
  align-content: center;
}
.align-items-end{
  align-items: end;
}
.stripped tr:nth-child(even){
  background-color: var(--c-gray);
}
.stripped th {
  background-color: whitesmoke;
}
.text-w{color: whitesmoke;}
.text-d{color: var(--c-dtheme);}
.checkbox-md{height:1.5em;width:1.5em;vertical-align:middle;}
.selected-row{
  box-shadow: 2px 0px 0px 0px var(--c-seorange) inset;
  -webkit-box-shadow: 2px 0px 0px 0px var(--c-seorange) inset;
  -moz-box-shadow: 2px 0px 0px 0px var(--c-seorange) inset;
}
.total-status{
  background-color:var(--c-main);
  border-radius:0.3em;
  padding:0.5em;
  margin-top: 0; margin-bottom: 1rem;
}
.top-toast{top:0; left:0;height:5rem;}
table{
  border-collapse: collapse;
}
table tr td, table tr th{
  padding: 0.5em;
}
tr td button svg{
  vertical-align: middle;
}
.producto-form{
  border-radius:0.5em;
  border: 1px solid #ffd8ca;
  position:'relative';
  z-index:0
}

.pb-1{padding-bottom: 0.6em;}
.pb-2{padding-bottom: 1em;}
.pb-3{padding-bottom: 1.5em;}
.ps-1{padding-left: 0.5rem;}
.ps-2{padding-left: 1rem;}
.py-025{padding-top: 0.175rem;padding-bottom: 0.175rem;}
.px-010{padding-left: 0.1rem; padding-right: 0.10rem;}
.p-05{padding: 0.3rem;}
.p-1{padding: 0.6rem;}
.p-2{padding: 1rem;}
.pe-2{padding-right: 1rem;}
.pt-2{padding-top: 1rem;}
.p-3{padding: 1.5rem;}
.m-1{margin: 0.4rem;}
.m-2{margin: 1rem;}
.m-3{margin: 1.5rem;}
.mb-1{margin-bottom: 0.4rem;}
.mb-2{margin-bottom: 0.6rem;}
.mb-01{margin-bottom: 1rem;}
.mb-3{margin-bottom: 3rem;}
.my-2{margin-top: 1rem; margin-bottom: 1rem;}
.my-1{margin-top: 0.5rem; margin-bottom: 0.5rem;}
.mt-1{margin-top: 1rem}
.mt-4{margin-top: 4rem}
.py-05{padding-top: 0.25rem; padding-bottom: 0.25rem;}
.px-05{padding-left: 0.25rem; padding-right: 0.25rem;}
.py-1{padding-top: 0.5rem; padding-bottom: 0.5rem;}
.mx-1{margin-left: 0.5rem; margin-right: 0.5rem;}
.mx-3{margin-left: 1.5rem; margin-right: 1.5rem;}
.ms-2{margin-left: 1rem;}
.me-2{margin-right: 1rem;}
.rounded-top{ border-radius: 0.5em 0.5em 0 0;}
.h-scroll-style::-webkit-scrollbar, .v-scroll-style::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.principal{width: 40vw; margin: 0 auto;}

.h-scroll-style::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}
.h-scroll-style::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 31px;
}
.v-scroll-style::-webkit-scrollbar-thumb {
  background: #137be2;
  border-radius: 50px;
}
.v-scroll-style::-webkit-scrollbar-track {
  background: #8ec7ff;
  border-radius: 31px;
}
.btn{
  border-radius: 0.2em;
  font-weight: bold;
}
.circle{border-radius: 100%;}
.btn:active{
  transform: scale(1.05);
  box-shadow: inset 0 0 0 0.2em rgba(255,255,255,0.3);
}
.intro{
  position: relative;
  -webkit-animation: introMove 10s infinite;
  animation: introMove 10s infinite;
  z-index: -3;
}
input[type="text"],input[type="number"], select{
  border:none;
  border-bottom: 2px solid #ffa281;
  font-size: 1em;
  border-radius: 0.3em 0.3em 0 0;
  padding: 0.2em;
}
textarea{
  border: 2px solid #ffa281;
  border-radius: 0.3rem;
  resize: none;
  width: 100%!important;
}
textarea:hover{
  outline: none !important;
  border: 2px solid #ffa281;
}
.actual{text-decoration: underline;}
input[type="text"]:focus,input[type="number"]:focus, select:focus{
  outline:none;
  border-bottom: 0.2em solid #ffa281;
}
fieldset {
  border-radius: 0.5em;
  border: 2px solid #ffa281;
  text-align: left;
  width: 100%;
}
fieldset select {
  width: 100%;
}
.t-nwrap{white-space: nowrap;}
.txt-nwrap td{white-space: nowrap;}
.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@keyframes introMove{
  0%{
      -webkit-clip-path: polygon(3% 19%, 92% 5%, 96% 93%, 8% 89%);
      clip-path: polygon(3% 19%, 92% 5%, 96% 93%, 8% 89%);
  }
  25%{
      -webkit-clip-path: polygon(5% 8%, 91% 15%, 95% 89%, 8% 89%);
      clip-path: polygon(5% 8%, 91% 15%, 95% 89%, 8% 89%);
  }
  50%{
      -webkit-clip-path: polygon(16% 26%, 91% 15%, 95% 89%, 6% 75%);
      clip-path: polygon(16% 26%, 91% 15%, 95% 89%, 6% 75%);
  }
  75%{
      -webkit-clip-path: polygon(19% 7%, 91% 15%, 93% 72%, 8% 93%);
      clip-path: polygon(19% 7%, 91% 15%, 93% 72%, 8% 93%);
  }
  100%{
      -webkit-clip-path: polygon(3% 19%, 92% 5%, 96% 93%, 8% 89%);
      clip-path: polygon(3% 19%, 92% 5%, 96% 93%, 8% 89%);
  }
}
.card-header{
  max-width: 10em;
  max-width: 10em;
  display: flex;
  justify-content: center;
  margin:1em auto;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.z-i3{z-index: 3!important;}

/* font size */
.font-sm p, .font-sm label, .font-sm select, .font-sm .btn, .font-sm td, .font-sm th, .font-sm .recursos li{
  font-size: 0.8em;
}
.font-md p, .font-md label, .font-md select, .font-md .btn, .font-md td, .font-md th, .font-md .recursos li{
  font-size: 1em;
}
.font-lg p, .font-lg label, .font-lg select, .font-lg .btn, .font-lg td, .font-lg th, .font-lg .recursos li{
  font-size: 1.2em;
}
.font-sm button{font-size: 0.7em;}
.font-md button{font-size: 0.8em;}
.font-lg button{font-size: 1em;}

.font-sm h3{font-size: 1.25em;}
.font-md h3{  font-size: 1.5em;}
.font-lg h3{  font-size: 1.75em;}

.font-sm h1{  font-size: 2.25em;}
.font-md h1{  font-size: 2.5em;}
.font-lg h1{  font-size: 2.75em;}

.font-sm h2{  font-size: 1.25em;}
.font-md h2{  font-size: 1.5em;}
.font-lg h2{  font-size: 1.75em;}
.font-md header a{  font-size: 1em; } .font-lg header a{  font-size: 1.2em; } .font-sm header a{  font-size: 0.85em; }

header{
  background-color: #ff7f50;
  width: 100%;
  height: 4em;
  position: sticky;
  top: 0;
}
header ul li a{
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}
header ul li{
  list-style: none;
  font-size: 1.2em;
  margin-left:1em;
}
header ul{
  width: 34em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.costado div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.prompt{
  border:solid 0.3rem #000;
  min-height:100%;
  width:100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position:fixed;
  background-color:rgba(0,0,0,0.2);
  backdrop-filter:blur(1px);
  z-index: 2;
}
.prompt-in{
  background-color: rgb(245, 245, 245);
  padding: 1rem;
  border-radius: 0.3rem;
  margin:1rem;
}
@media only screen and (max-width: 320px) {
  body{zoom: 0.9;}
  .costad{display: flex; justify-content: space-between;}
  .costado{display: flex; justify-content: center;}
  .costado div{display: block; margin-top: 1rem;}
  .costado input[type="number"], .costado input[type="text"]{width: 60px!important;}
}
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
  .mw-100{width: 100%;}
  .principal{width: 100%; margin: 0!important;}
  .costad{display: flex; justify-content: space-between;}
  .costado{display: flex; justify-content: center;}
  .costado div{display: block; margin-top: 1rem;}
  .costado input[type="number"], .costado input[type="text"]{width: 120px;}
  .costado-esp input[type="text"]{width: 100px;}
  .mobile-field{
    display:'flex'; gap:1rem; padding:1rem;
  }
  .mobile-field input[type="number"], .mobile-field input[type="text"]{
    width: 120px;
  }
  .h-scroll{
    height: 80vh;
    display: flex;
    justify-content: start;
    overflow-x: scroll;
    flex-wrap: nowrap;
    align-items: center;
  }
  
  .scroll-y{
    overflow-y: scroll;
  }
  .intro{
    position: relative;
    -webkit-animation: none;
    animation: none;
    padding: 2em;
    display: flex; justify-content: center;
  }
  header{
    height: 5em;
  }
  header ul{
    overflow-x: scroll;
    justify-content: start;
    padding-left: 2em;
    height: 100%;
  }
  ul{
    width: 200%
  }
  ul li{
    margin: 0 2em 0 0em;
  }
  .principal{width: 100%; margin: auto;}
}
table tr:focus, table tr:focus td{/*, table tr:focus td b*/
  background-color: #ffd1c1!important;
}
/*ANIMACIONES*/


/* ANIMACIONES - CSS*/
.skeleton-blink{
  animation-name: skeletonBlink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes skeletonBlink{
0%{
  background-color:rgba(255, 255, 255, 0.5);
}
50%{
  background-color:rgba(0, 0, 0, 0.1);
}
100%{
  background-color:rgba(255, 255, 255, 0.5);
}
}

.minimize-v{
  display: none;
}

@keyframes minimizeV{
  0%{
    height: auto;
    opacity: 1;
  }
  100%{
    display: none;
    height: 0px;
    opacity: 0;
  }
}

.right-to-left{
  transform: translate(-100%,0);
  transition: 0.3s ease-in-out;
}
.left-to-right{
  transform: translate(0,0);
  transition: 0.3s ease-in-out;
}
.rotate-right{
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
}
.rotate-left{
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}

.blur{
  filter: blur(1px);
  transition: all 0.3s;
}

.blur-in-animation{
  animation: blurIn 0.3s ease;
}
@keyframes blurIn{
  0% {
    filter: blur(0);
  }
  100% {
    filter: blur(1px);
  }
}

.blur-out-animation{
  animation: blurOut ease 1s;
}
@keyframes blurOut{
  0% {
    filter: blur(1px);
  }
  100% {
    filter: blur(0);;
  }
}

.pop-up {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-duration: 0.3s;
}
@keyframes animate-pop {
  0% {
    transform: scale(0.9, 0.9);
  }

  100% {
    transform: scale(1, 1);
  }
}
.shake{
  animation-name: shake;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0%{
    transform: translate(0.2em, 0)
  }
  50%{
    transform: translate(-0.2em, 0)
  }
  100%{
    transform: translate(0.2em, 0)
  }
}

.pulse{
  width: 4em;
  height: 4em;
  border-radius: 50%;    
  text-align: center;
  box-shadow: 25 25 25 var(--bg-white);
  animation: pulseEffect 2s infinite;
}
@keyframes pulseEffect {
  0% {
    -moz-box-shadow: 0 0 0 0 var(--grey-0);
    box-shadow: 0 0 0 0 var(--grey-0);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}


/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.main-height{
  display: flex;
  flex-direction: column;
  min-height: 93vh;
  padding-bottom: 5vh;
}

/*convex bar clasic*/
#filter-svg {
  display: none;
}
.cvxc-bar-div{
  position: fixed;
  bottom: 0;
  width: 100vw;
  box-shadow: 0px 0px 6px -1px rgba(0,0,0,.5);
}
.vh100-scroll-y{
  height: 100vh;
  overflow-y: scroll;
}
.cvxc-bar{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: coral;
  color: whitesmoke;
  filter: url("#goo");
}

.cvxc-bar a{
  all: unset;
  position: relative;
  animation: downCvx 0.25s forwards ease-in-out;
  border-radius: 50%;
  width: var(--bottom-button);
  height: var(--bottom-button);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.cvxc-bar a > * {
  width: var(--bottom-button); height: var(--bottom-button);
}
.cvxc-bar a:focus{
  animation: upCvx 0.25s alternate forwards ease-in-out;    
  box-shadow: 0px 0px 0px 0.25rem coral inset;
}
.cvxc-bar a:focus > *{
  animation: upCvx 0.25s alternate forwards ease-in-out;
  border-radius: 25%;
  transform: scale(0.8);
}
.cvxc-bar a:focus::after, .cvxc-bar a:focus::before{
  position: absolute;
  content: " ";
  width: 0.75rem;
  height: 0.75rem;
  border-bottom: 10px solid coral;
  top: 1rem;
}
.cvxc-bar a:focus::before{
  border-bottom-right-radius: 100%;
  left: -0.55rem;
}
.cvxc-bar a:focus::after{
  border-bottom-left-radius: 100%;
  right: -0.55rem;
}



@keyframes upCvx {
  from {
      bottom: 0rem;
  }
  to{
      bottom: 1.25rem;
      width: calc(var(--bottom-button) + 1rem);
      height: calc(var(--bottom-button) + 1rem);
      margin: -0.5rem;
      color: coral;
      background-color: whitesmoke;
  }
}
@keyframes downCvx {
  from {
      bottom: 1rem;
  }
  to{
      bottom: 0rem;
  }
}

/* tema claro */

/* tema oscuro */
.theme-dark {
  background-color: #000!important;
}
.theme-dark footer .cvxc-bar a:focus, .theme-dark footer .cvxc-bar a:focus svg{
  background-color: var(--c-main)!important;
  color:whitesmoke!important;
}
.theme-dark div, .theme-dark div h1, .theme-dark div legend, .theme-dark div label, .theme-dark i, .theme-dark p{
  color:whitesmoke!important;
}
.theme-dark table, .theme-dark table thead tr:first-child, .theme-dark table thead th, .theme-dark table tr{
  background-color: var(--c-dgray)!important;
}
.theme-dark form{
  border: none!important;
}
.theme-dark form div{
  background-color: black!important;
}
.theme-dark form input,.theme-dark select,.theme-dark textarea{
  background-color: var(--c-dtheme)!important;
  color: whitesmoke!important;
}
.theme-dark .prompt-in, .theme-dark .headcol, .theme-dark .headcol b{
  background-color: var(--c-dgray)!important;
  color: whitesmoke!important;
}
.theme-dark footer .cvxc-bar a:focus{
  animation: upCvxD 0.25s alternate forwards ease-in-out;    
  box-shadow: 0px 0px 0px 0.25rem coral inset;
}
.theme-dark footer .cvxc-bar a:focus > *{
  animation: upCvxD 0.25s alternate forwards ease-in-out;
  border-radius: 25%;
  transform: scale(0.8);
}
.theme-dark .c-lforange{background-color: black!important;}
.theme-dark table tr:focus, .theme-dark table tr:focus .headcol, .theme-dark table tr:focus td b, 
.theme-dark table tr:hover, .theme-dark table tr:hover .headcol, .theme-dark table tr:hover td b,
.theme-dark table tr:focus, .theme-dark table tr:focus td
{
  background-color: var(--c-dtheme)!important;
}
@keyframes upCvxD {
  from {
      bottom: 0rem;
  }
  to{
      bottom: 1.25rem;
      width: calc(var(--bottom-button) + 1rem);
      height: calc(var(--bottom-button) + 1rem);
      margin: -0.5rem;
      color: coral;
  }
}
@keyframes downCvx {
  from {
      bottom: 1rem;
  }
  to{
      bottom: 0rem;
  }
}